.Navbar{
    height: 110px;
 }
.NavbarTwo{

    height: 50px;
    justify-content: space-around;
    margin-bottom: 100px;
}
.SearchBar{
    width: 100%;
    text-align: center;
    margin-left: 16%;
}
.Input{
    border-radius: 10px;
    width: 50%;
    height: 40px;
}
.options{
    margin: auto;
    display: inline-flex;

}
ul li{
    list-style: none;
    margin: 20px;
}
.links{
    color: black;
    margin: 10px;
    padding: 10px;
}
.links:hover {
    color: rgb(212, 185, 137);
    text-decoration: none;
    transition: 0.9s ;
 
}
.Icons{
    display: inline-flex;
    flex: none;
}
.Icon{
margin-right: 15px;

}

.head{
    height: 150px;
    background-image: url('https://image.shutterstock.com/image-photo/spices-herbs-wooden-spoons-website-260nw-1130253749.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head-title{
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: wheat;
}
.head-sub-title{
    color: white;
}