.general {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-image: url(../../Components/css/pexels-lukas-616404.jpg); 
}
.contenedor{
    height: 150vh;
    width: 90vw;
   
    border-radius: 20px;
    font-family:  Tahoma, sans-serif;
    background-color:transparent
}
.presentacion{
    height: 50vh;
    width: 55vw;
    filter: drop-shadow(0 0 0.75rem gray);
    border-radius: 20px;
    margin-left: 19%;
    font-family:  Tahoma, sans-serif;
    background:   linear-gradient(to left, #f6f7d4, #28df99);
    padding: 1%;
    margin-top: 2%;
    
 

}

.texto {
    text-align: center;
    margin-top:25px;
}

.contenedorCard{
    width: 28%;
    display:flex;
    margin-left: 4em;
    margin-top:2em;

    
}
