.App {
    background-image: url(pexels-ready-made-3987365.jpg);
    backdrop-filter: blur(6px);
}

.App{
   
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}