.Card{
    width: 300px;
    height: 480px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    margin-left: 37%;
    margin-top: 0;
}

.upper-container {
    height: 100px;
    background: linear-gradient(to left, #f6f7d4, #28df99);

}
.espacio{
    height: 20px;
    background: linear-gradient(to left, #f6f7d4, #28df99);
    border-bottom: 30%;

}

.image-container img {
    background: white;
    /* width: 100px; */
    /* height: 100px; */
    border-radius: 50%;
    /* padding: 5px; */
    /* transform: translate(95px, 45px); */
}


img{
    
    border: 2px solid #28df99;
}

.lower-container{
    margin-top: 60px;
    height: 300px;
    background: white;
    text-align: center;
    font-family: 'Titillium web', sans-serif;
}
.lower-container h3, h4,p{
    margin: 0;
    padding: 0;
}
.lower-container h3{
    color: #2f2d2e;
    font-weight: 600;
    font-size: 1.5rem;

}
.lower-container h4{
    color: #28df99;
    font-weight: 800;
    font-size: 1.2rem;

}
.lower-container h5, p{
    margin: 1rem;
    font-family: sans-serif;
    color: #2f2d2e;
    font-size: 1 rem;
    text-align: left;
}
.p{
    text-align: center;

}
