
.Card{
    margin: 8px;
}
.body{
    display: flex;
}
.contador{
    border: 1px solid black;
    inline-size: max-content;


}
.card-body-img{
    width: 50%;
}

.right{

    width: 45%;
    background-color:#FAF3CA;
    float: right;
    border-radius: 10px;
    margin: 40px;

}
.name-right{
    border-radius: 10px;

    background-color: #ffc107;
text-align:center
}

.items{
    display: flow-root;
    border-bottom: 1px solid lightgrey;
}
.itemsprice{
    display: flow-root;

}
.productName{
    margin-left: 15%;
}

.productCount{
    margin-right: 15%;

    float: right;
}
.Subtotal{
    margin-left: 15%;

     float: left;
}
.subPrice{

    margin-right: 15%;

    float: right;
}

.buttonNext{
    margin-left: 20%;
    width: 60%;

}
.Cancel{
    margin-left: 18%;
    width: 60%;
    margin-top: 4%;
}
