.check{
    display: flow-root;
}
.body{
    display: flex;
}
.contador{

    inline-size: max-content;


}
.count{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(12, 12, 11);

    background: linear-gradient(to top, #2ec1ac, #28df99);
text-align:center
}
.count span{
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(12, 12, 11);

  
text-align:center
}

.card-body-img{
    width: 50%;
}

.right{

    width: 45%;
    background-color:rgb(255, 254, 248);
    float: right;

    margin: 40px;

}
.name-right{
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(12, 12, 11);

    background: linear-gradient(to top, #2ec1ac, #28df99);
text-align:center
}

.items{
    display: flow-root;

}
.itemsprice{
    display: flow-root;

}
.productName{
    margin-left: 15%;
}

.productCount{
    margin-right: 15%;

    float: right;
}
.Subtotal{
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(12, 12, 11);
    margin-left: 15%;

     float: left;
}
.subPrice{
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(12, 12, 11);
    margin-right: 15%;

    float: right;
}

.buttonNext{
    margin-left: 20%;
    width: 60%;
    background: linear-gradient(to top, #2ec1ac, #28df99);

}
.buttonNext span{
    margin-left: 650%;
}
.Cancel{
    background: linear-gradient(to top, #2ec1ac, #28df99);
    margin-left: 20%;
    width: 60%;
    margin-top: 4%;
}
.Cancel span{
    margin-left: 500%;
}