.inputmodal-one{
    text-align: -webkit-center;
}
.inputmodal-two{
    text-align: -webkit-center;
}

.inputmodal-one input{

    height: 40px;
    width: 65%;
    border-color:  #28df99;
    border-radius: 10px;

}
.inputmodal-two input {
    height: 40px;
    width: 65%;
    border-color:  #28df99;
    border-radius: 10px;
margin-top: 10px;
}
.button-modal{
    margin-right: 43%;
    color: black;
    background-color: #28df99;
    border-color:  #28df99;
}
.button-modal:hover{
   
    background-color: #28df99;
}


