.InputSearch{
    margin-left:90px;
    width: 500px;
    height:40px;
    border-radius:10px;

}
.Icons{
    float: right;
    display:contents;

}
.Nav{
    border-bottom: 1px solid lightgrey;
    height: 20%;
    background-color:#ffc107;
    justify-content: space-evenly;
}
.divoptions{
    background-color:#ffc107;
    margin-top: 0px;
    height: 50px;
    margin-bottom: 150px;
}
.divoptions2{
    display: inline-flex;
    margin-left: 250px;
    margin-top: 80px;
}
ul{
    padding: 10px;
    margin-left: 260px;
 

}
ul li{
    color:black;
    font-size: large;
    display: inline-block;
    position: initial;
    padding: 0 10px;
}