

.navbar{
    background-color: #ffffff;
}
Nav div button{
    background-color: #82ae46;
    border: none;
    padding: .5em;
    color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.Shopcart{
    background-color: #9ddd72;
    border: none;
    padding: .5em;
    color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-right: 100px;
}

.Shopcart button:hover{
    background-color: #487a01;
}