.Navbar{
    background: linear-gradient(to top, #2ec1ac, #28df99);
    
    height: 100px;
 }
.NavbarTwo{
    background: linear-gradient(to bottom, #2ec1ac, #28df99);
    height: 50px;
    justify-content: space-around;
}
.SearchBar{
    width: 100%;
    text-align: center;
    margin-left: 16%;
}
.Input{
    border-radius: 10px;
    width: 50%;
    height: 40px;
}
.options{
    margin: auto;
    display: inline-flex;

}
ul li{
list-style: none;
margin: 20px;
}
.Icons{
    display: inline-flex;
    flex: none;
}
.Icon{
margin-right: 15px;

}
