.formmodal{
    text-align-last: center;
}
input{
    text-align-last: start;
    width: 40%;
    height: 40px;

    border-radius: 20px;
}
.Buttonbuy{
    margin:auto;
    width: 50%;
    background: linear-gradient(to top, #2ec1ac, #28df99);

}