body{
    background-color: #f6f7d4; 

}

.padre{
    height: 100%;
    width: 100%;
    background-image: url(pexels-lukas-616404.jpg); 
    
    
}
.listaReviews{
    margin-left: 12%;
    width: 70%;
    filter: drop-shadow(0 0 0.75rem black);
}
.contenedor{
    margin-left: 18%;
    width: 70%;
   

}
.cont{
    height: 90vh;
    width: 80vw;
    filter: drop-shadow(0 0 0.75rem black);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    font-family:  Tahoma, sans-serif;
    
}

.detailContent{
  background-color: white;
  width: 80%;
  height: 70%;
  border-radius: 8px;
  display: flex;
  
}

 .img, .infoContent{
     width: 50%;
     height: 50%;
    

}
.infoContent{
    align-items: center;

}
.price, .name{
    text-align: center;
    font-size: 40px;
    
}
.price{
    color:  #28df99;
}
.info{
    text-align: center;
    font-size: 20px;
}

.reviews{
    text-align: center;
}
.botonera{
    text-align: center;
}

.buttons{
    border: none;
    height: 40px;
    width: 70%;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    background:  #28df99;
    cursor: pointer;
    border-radius: 20px;
    
}
.buttons:hover{
    background:   linear-gradient(to left, #f6f7d4, #28df99);
    color: #ffffff;
}



