.component{
    background-color: white;
}
.tituloregister{
    text-align-last: center;

}
.Form{
    margin: auto;
    width: max-content;
    border: 2px solid black;
    border-radius: 6%;
    background-color: white;
    margin-top: 1%;
}
.form-group{
    
    padding: 9%;

}
.button-register{
    margin-top: 10%;
    margin-left: 30%;
}
