

.component{
    background-image: url(pexels-lukas-616404.jpg);
    display: inline-block;
    width: 100%;
    height: 100vh;
  
    align-items: center;
    position: absolute;
    top:10px;
    bottom: 10px;
    left: 50%;
    text-align: center;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0,5);
    padding: 40px;
    font-family:  Tahoma, sans-serif;
    filter: drop-shadow(0 0 0.75rem black);
   
    
}
.tituloregister{
    text-align-last: center;

}
.Form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0,5);
    padding: 40px;
}

.form-group p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #ffffff;
    
}
.form-area{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    display: 16px;
}
::placeholder{
    color: #ffffff;
}
.button-register{
    border: none;
    height: 40px;
    width: 100%;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    background:  #28df99;
    cursor: pointer;
    border-radius: 20px;
}
.button-register:hover{
    background:   linear-gradient(to left, #f6f7d4, #28df99);
    color: #ffffff;
}
