body{
    background-color: #f6ffea!important;
}

.bg-verde{
    background-color: #82ae46;
}

.fontWhite{
    color: #ffffff;
}

.navbar{
    position: fixed!important;
    width: 100vw;
    top: 0;
}

#navbarNav ul li a{
    color: #ffffff;
    padding: 1em;
    display: block;
    text-transform: uppercase;
    transition: all .2s ease;
}

#navbarNav ul li a:hover{
    /* background-color:#579500; */
    text-decoration: none;
    border-bottom: solid 2px #ffffff;
    transition: all .2s ease;
}

#navbarNav button{
    border: none;
}

.navbar-light .navbar-toggler{
    border-color: #ffffff!important;
    padding: .5em;
}

.navbar img{
    width: 50px;
}

#navbarNav form{
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbarNav form input{
    width: 80%;
    border-radius: 50px;
}

#navbarNav form button{
    background-color: #2f5000;
    color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-9.MuiGrid-justify-xs-center{
    margin-top: 6em!important;
}

.MuiPaper-root.MuiCard-root.ProductCard-item-2.MuiPaper-elevation1.MuiPaper-rounded{
    margin: 3em;
    border: solid 1px #e3e3e3;
}

.MuiPaper-root.MuiCard-root.ProductCard-item-2.MuiPaper-elevation1.MuiPaper-rounded:hover{
    box-shadow: 0 0 4px rgba(0,0,0,.5);
}




@media(min-width: 768px){
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-9.MuiGrid-justify-xs-center{
        margin-top: 10em!important;
    }

    .MuiPaper-root.MuiCard-root.ProductCard-item-2.MuiPaper-elevation1.MuiPaper-rounded{
        margin: 0em 3em;
    }
}

@media(min-width: 992px){
    .navbar-expand-lg .navbar-collapse{
        justify-content: space-between;
    }

    #navbarNav form input{
        width: inherit!important;
    }

    #navbarNav form{
        margin: 1em 0;
    }

    .navbar img{
        margin-right: 1em;
    }
}